<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
</head>

<body>
  <div class="container">
  <div class="row">
      <h2>File a Complaint</h2>

      Please select the address to send your complaint to:
      <div class="collection">
      </div>

      <!-- Modal Structure -->
      <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>File a Complaint</h4>

          Against: <blockquote id="address">555 Noisy Lane, Amherst, MA</blockquote>
          <br/>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea" class="materialize-textarea flow-text" length="120"></textarea>
              <label for="textarea">Send a note to the host of the party (Optional)</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" id="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit Complaint<i class="material-icons right">send</i></a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <script src="/javascripts/complain.js" type="text/javascript"></script>
  <script src="/javascripts/submitcomplaint.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</body>
