<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Party Smart.</a>
    </div>
  </nav>
  <div class="container">
    <br/>

    <div class="row">
      <h2 class="center-align">What would you like to do?</h2>
      <br/>
      <br/>
      <a href="/registerparty" class="col s3 offset-s2 waves-effect waves-light btn-large"><i class="material-icons left">store</i>Register Your Party</a>
      <a href="/filecomplaint" class="col s3 offset-s2 waves-effect waves-light btn-large"><i class="material-icons left">warning</i>File a Complaint</a>
    </div>
  <!-- Import JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</body>
