<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <script src="/javascripts/map.js" type="text/javascript"></script>

</head>
<body onload="GetMap();">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Party Smart.</a>
    </div>
  </nav>
  <div class="container">
    <br/>

    <div class="row">
      <h2 class="center-align">What would you like to do?</h2>
      <br/>
      <br/>
      <a class="col s3 offset-s2 waves-effect waves-light btn-large"><i class="material-icons left">store</i>Register Your Party</a>
      <a class="col s3 offset-s2 waves-effect waves-light btn-large"><i class="material-icons left">warning</i>File a Complaint</a>
    </div>

    <br/>
    <br/>
    <hr/>
    <br/>
    <br/>

    <div class="row">
      <h2>Register Your Party</h2>
      <div class="row">
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light right" onclick="ClickCurrentLocation()" name="action">
            <i class="material-icons">my_location</i>
          </button>
          <input id="address" type="text" class="validate">
          <label for="address">Address</label>
          <div id='mapDiv' style="position:relative; width:800; height:400px;"></div>
        </div>
      </div>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">email</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">Email</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">phone</i>
              <input id="icon_telephone" type="tel" class="validate">
              <label for="icon_telephone">Telephone</label>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">today</i>
              <input type="date" class="datepicker">
              <label for="icon_prefix">Date</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">schedule</i>
              <input id="icon_telephone" type="time" class="validate">
              <!-- <label for="icon_telephone">Time</label> -->
            </div>
          </div>
        </form>
      </div>


      <button class="btn waves-effect waves-light right" type="submit" name="action">Register Party
        <i class="material-icons right">send</i>
      </button>
    </div>

    <br/>
    <br/>
    <hr/>
    <br/>
    <br/>

    <div class="row">
      <h2>File a Complaint</h2>

      <div class="row">
        <div class="input-field col s12">
          <input id="address2" type="text" class="validate">
          <label for="address2">Address</label>
        </div>
      </div>

      Please select the address to send your complaint to:
      <div class="collection">
        <a href="#!" class="collection-item">543 Respectful Lane, Amherst, MA</a>
        <a href="#!" class="collection-item active">555 Noisy Lane, Amherst, MA</a>
      </div>
      <br/>
      <!-- Modal Trigger -->
      <a class="modal-trigger waves-effect waves-light btn right" href="#modal1">File Complaint</a>

      <!-- Modal Structure -->
      <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>File a Complaint</h4>

          Against: <blockquote>555 Noisy Lane, Amherst, MA</blockquote>
          <br/>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea flow-text" length="120"></textarea>
              <label for="textarea1">Send a note to the host of the party</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Submit Complaint<i class="material-icons right">send</i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Import JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <script>
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });

    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
    })
  </script>
</body>
